<div id="dashboard" class="dashboard-container">
  <h1 class="menu-title">Menu Principal</h1>
  <div class="links-div">
    <a href="/balance" class="menu-button">Ver Saldo</a>
    <a href="/lookTransations" class="menu-button">Extrato</a>
    <a href="/saque" class="menu-button">Saque</a>
    <a href="/deposit" class="menu-button">Depósito</a>
    <a href="/transfer" class="menu-button">Transferência</a>

  </div>
  
  <div id="vip-link" class="vip-link hidden">
    <button class="menu-button vip-button" onclick="requestVisit()">Solicitar visita do gerente</button>
  </div>
  
  <button class="menu-button logout-button" onclick="handleLogout()">Sair</button>
</div>

<script>
document.addEventListener('DOMContentLoaded', async () => {
  const token = localStorage.getItem('token');
  if (!token) {
    window.location.href = '/';
    return;
  }

  try {
    const response = await fetch('/account', {
      method: 'GET',
      headers: {
        'Authorization': `Bearer ${token}`,
        'Content-Type': 'application/json',
      },
    });
    
    if (response.ok) {
      const account = await response.json();
      if (account.vip) {
        document.querySelector('#vip-link').style.display = 'block';
      }
      document.getElementById('dashboard').style.display = 'block';
    } else {
      window.location.href = '/';
    }
  } catch (error) {
    console.error('Erro ao carregar os dados do usuário:', error);
    window.location.href = '/';
  }
});

async function requestVisit() {
  const token = localStorage.getItem('token');
  try {
    const response = await fetch('/visit', {
      method: 'POST',
      headers: {
        'Authorization': `Bearer ${token}`,
        'Content-Type': 'application/json',
      }
    });
    const data = await response.json();
    alert(data.message);
  } catch (error) {
    alert('Erro ao solicitar visita. Tente novamente.');
  }
}

function handleLogout() {
  localStorage.removeItem('token');
  window.location.href = '/';
}
</script>