<!-- app/views/accounts/saque.html.erb -->
<h1>Realizar Saque</h1>

<form id="saqueForm">
  <label for="value">Valor do Saque:</label>
  <input type="number" id="value" name="value" step="0.01" min="0" required>
  
  <button type="submit">Realizar Saque</button>
</form>

<button onclick="history.back()">Voltar</button>

<script>
  document.getElementById('saqueForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const value = document.getElementById('value').value;

    try {
      const response = await fetch('/saque', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${localStorage.getItem('token')}`
        },
        body: JSON.stringify({ value: value })
      });

      const data = await response.json();
      console.log(data)
      if (response.ok) {
        alert(data.message);
        document.getElementById('value').value = '';
      } else {
        alert(data.message);
      }
    } catch (error) {
      alert('Erro ao processar sua solicitação. Tente novamente.');
    }
  });
</script>