<div class="withdraw-container">
  <header class="withdraw-header">
    <h1>Realizar Saque</h1>
  </header>

  <form id="saqueForm" class="withdraw-form">
    <div class="form-group">
      <label for="value" class="form-label">Valor do Saque:</label>
      <input type="number" id="value" name="value" class="form-input" step="0.01" min="0" required>
    </div>
    <button type="submit" class="form-button">Realizar Saque</button>
  </form>

  <div class="withdraw-footer">
    <button onclick="history.back()" class="back-button">Voltar</button>
  </div>
</div>

<script>
  document.getElementById('saqueForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const value = document.getElementById('value').value;

    try {
      const response = await fetch('/saque', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${localStorage.getItem('token')}`
        },
        body: JSON.stringify({ value: value })
      });

      const data = await response.json();
      console.log(data)
      if (response.ok) {
        alert(data.message);
        document.getElementById('value').value = '';
      } else {
        alert(data.message);
      }
    } catch (error) {
      alert('Erro ao processar sua solicitação. Tente novamente.');
    }
  });
</script>